.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 150px; 
}
h1 {color: #e74c3c;
    text-align: center;}
.content {
    max-width: 600px;
    text-align: center;
    padding: 0 20px;
    color: #fff;
    margin-top: 20px; 
}
.welcome-text {
    font-size: larger;
    font-weight: bold;
    color: #e74c3c; 
    margin-top: 20px; 
}

.content p {
    font-size: 100%;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.video {
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

.video video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main {
    max-width: 600px;
    text-align: justify;
    color: #fff;
    padding: 0 20px;
}

.side-image {
    flex: 1;
    max-width: 400px;
    margin: 0 10px;
}

.side-image img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.script-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.script-button button {
    padding: 10px 20px;
    font-size: 100%;
    border-radius: 5px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.script-button button:hover {
    background-color: #45a049;
}

#transcript {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}
