/* Common styles across all pages */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 40%, rgba(2,0,36,1) 47%, rgba(18,54,75,1) 100%, rgba(27,0,255,1) 100%);
    color: #fff;
    
}
a {
    color: #fff !important; 
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #e74c3c !important;
    text-decoration: underline; 
}


.topnav {
    width: 100vw; 
    height: 7vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
#toggleAccessibility {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 100%;
}
.logo img {
    width: 250px;
}

.menu a {
    font-weight: bold;
    color: #f2f2f2;
    text-decoration: none;
    margin-left: 20px;
    font-size: 100%;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #e74c3c;
}

.menu button {
    margin-left: 20px;
    padding: 15px 30px;
    font-size: 100%;
    border-radius: 5px;
    background-color: #ff5f5f;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 30px;
}

.menu button:hover {
    background-color: #e74c3c;
    color: #fff;
}
footer {
    position: sticky;
    bottom: 0;
    color: white;
    margin-left: 10px;
}

