/* Styles for splash section */
.splash {
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.splash img {
    width: 100%;
    display: block;
}

/* Styles for container */
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

/* Styles for video section */
.video {
    margin-right: 20px;
    padding-bottom: 50px;
}

.video iframe {
    display: block;
    border-radius: 10px;
    width: 700px;
    height: 394px;
}

/* Styles for content section */
.content {
    flex: 1;
    max-width: 100%;
    text-align: center;
}

.content p {
    font-size: 140%;
    line-height: 1.6;
    color: #fff;
    text-align: justify;
}

/* Specific text styles */
.content .welcome-text {
    font-size: larger;
    font-weight: bold;
    color: #e74c3c;
}

.content .intro-text {
    font-size: large;
    font-weight: bold;
}

.content .description-text {
    font-size: large;
}
